{% extends 'blog/blogbase.html' %}

{% block title%}
{% endblock %}

{% block content %}
<!--文章展示版块-->
<div class="col-md-9">
    <div class="">
        <div class="page-header">
            <h1 style="font-family: 微软雅黑">{{ article.title }}</h1></br>
            <div style="font-family:cursive">
                <h5><small>分类：</small>{{ article.category }}</h5>
                <h5><small>发表时间：</small> {{ article.publish_date }}</h5>
            </div>
        </div>
        <div>
            <p>{{ article.text|linebreaks }}</p>
        </div>
    </div>
</div>
<div class="col-md-3" role="complementary">
    <div class="sidebar">
        <div class="widget">
            <h3>pass</h3>
            <h3>pass</h3>
        </div>
    </div>
</div>
{% endblock %}