{% extends 'blog/blogbase.html' %}
{% load staticfiles %}


{% block head %}
<script src="{% static 'js/tinymce/tinymce.min.js' %}"></script>
<script src="{% static 'js/myjs/tinymceInit.js' %}"></script>
{% endblock %}


{% block content %}
<div class="col-md-10 col-md-offset-1">
<h2 align="center"><strong>Edit</strong></h2>
<form method="POST" class="post-form" name="new">{% csrf_token %}
    {{ form.as_table }}
    <br>
    <button type="submit" class="save btn btn-large btn-block btn-primary ">Save</button>
</form>
    </div>
{% endblock %}