{% extends 'blog/bloghome.html' %}

{% block title%}
{% endblock %}

{% block nav-tabs %}
<ul class="nav nav-tabs">
    <li role="presentation"><a href="/blog">
        <span class="glyphicon glyphicon-home"></span> 首页</a></li>
    <li role="presentation"><a href="/blog/index">
        <i class="glyphicon glyphicon-th-list"></i> 索引</a></li>
    <li role="presentation"><a href="/blog/about">
        <i class="glyphicon glyphicon-user"></i> 关于</a></li>
    <li role="presentation"><a href="/blog/message">
        <i class="glyphicon glyphicon-list-alt"></i> 留言板</a></li>
</ul>
{% endblock %}

{% block content %}
<!--文章展示版块-->
<div class="col-md-8">
    <div class="">
        <div class="page-header">
            <h5 style="font-family: 微软雅黑" align="center">{{ article.title }}</h5></br>
            <div style="font-family:cursive">
                <h7><small>分类：{{ article.category }}</small></h7></br>
                <h7><small>发表时间：{{ article.publish_date }}</small></h7>
            </div>
        </div>
        <div>
            <p>{{ article.text|linebreaks }}</p>
        </div>
    </div>
</div>
<!--侧边栏-->
{% endblock %}