{% extends 'blog/blogbase.html' %}

{% block title%}
{% endblock %}

{% block nav-tabs %}
<ul class="nav nav-tabs">
    <li role="presentation"><a href="/blog">
        <span class="glyphicon glyphicon-home"></span> 首页</a></li>
    <li role="presentation"><a href="/blog/index">
        <i class="glyphicon glyphicon-th-list"></i> 索引</a></li>
    <li role="presentation" class="active"><a href="/blog/about">
        <i class="glyphicon glyphicon-user"></i> 关于</a></li>
    <li role="presentation"><a href="/blog/message">
        <i class="glyphicon glyphicon-list-alt"></i> 留言板</a></li>
</ul>
{% endblock %}


{% block content %}
<h1>about</h1>
{% endblock %}