{% extends 'blog/blogbase.html' %}

{% block title%}
{% endblock %}

{% block nav-tabs %}
<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="/blog">
        <span class="glyphicon glyphicon-home"></span> 首页</a></li>
    <li role="presentation"><a href="/blog/index">
        <i class="glyphicon glyphicon-th-list"></i> 索引</a></li>
    <li role="presentation"><a href="/blog/about">
        <i class="glyphicon glyphicon-user"></i> 关于</a></li>
    <li role="presentation"><a href="/blog/message">
        <i class="glyphicon glyphicon-list-alt"></i> 留言板</a></li>
</ul>
{% endblock %}

{% block content %}
<!--文章展示版块-->
<div class="col-md-8">
    {% for article in articles %}
    <div class="">
        <div class="page-header">
            <h3 style="font-family: 微软雅黑"><a href="{% url 'blog.views.blogArticle' pk=article.pk %}">{{ article.title }}</a></h3>
            <div style="font-family:cursive">
                <h5><small>分类：</small>{{ article.category }}</h5>
                <h5><small>发表时间：</small> {{ article.publish_date }}</h5>
            </div>
        </div>
        <div class="well well-sm">
            <p>{{ article.text|linebreaks|truncatechars:200 }}</p>
        </div>
    </div>
    {% endfor %}
</div>
<!--侧边栏-->
<div class="col-md-4" >
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading"><h5 align="center">分类</h5></div>
            <div class="panel-body">
            <h3>pass</h3>
            <h3>pass</h3>
            </div>
        </div>
    </div>
</div>
{% endblock %}


