{% extends 'blog/blogbase.html' %}

{% block title%}
{% endblock %}


{% block content %}
<!--文章展示版块-->

<div class="col-md-7 col-md-offset-1">
    {% if articles %}
    {% for article in articles %}
    <article>
        <div class="page-header">
            <h4><a href="{% url 'article' pk=article.pk %}">{{ article.title }}</a></h4>
        </div>
        <div>
            <h7><small>分类：{{ article.category }}</small></h7>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <h7><small>发表时间：{{ article.publish_date }}</small></h7>
        </div>
        <div class="panel-body">
            <p>{% autoescape off %}{{ article.description|linebreaks }}{% endautoescape %}</p>
        </div>
    </article>
    {% endfor %}
    {% endif %}
</div>

<!--侧边栏-->
<div class="col-md-4">
    </br>
    <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-success">
            <div class="panel-heading">
                <div class="panel-title" align="center"><h6><strong>Tags</strong></h6></div>
            </div>
            <div class="panel-body">
                <div>
                    <span class="label label-default">Default</span>
                    <span class="label label-primary">Primary</span>
                    <span class="label label-success">Success</span>
                    <span class="label label-info">Info</span>
                    <span class="label label-warning">Warning</span>
                    <span class="label label-danger">Danger</span>
                    <span class="label label-default">Default</span>
                    <span class="label label-primary">Primary</span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


